@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.ttf?8tooed') format('truetype'),
}
@font-face {
  font-family: 'OpenSans SemiBold';
  src: url(../fonts/OpenSans-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSans Light';
  src: url(../fonts/OpenSans-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSans Bold';
  src: url(../fonts/OpenSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSans Regular';
  src: url(../fonts/OpenSans-Regular.ttf) format('truetype');
}
h1, h2{
  font-family: 'OpenSans Bold';
}
h3, h4{
  font-family: 'OpenSans SemiBold';
}
h5, h6{
  font-family: 'OpenSans Light';
}
section{
  margin-top: 50px;
  
}
.logo-menu{
    height: 20px !important;
    max-height: 20px !important;
    width: auto !important;
}
.nav-link{
    color: #AC2601 !important;
    font-family: 'OpenSans Light';
}
.nav-link:hover{
    color: #781A00 !important;
}
.btn-outline-app{
    outline-color: #AC2601;
    color: #AC2601;
    border-color: #AC2601;
}
.btn-outline-app-reverse{
    outline-color: whitesmoke;
    color: red;
    border-color: whitesmoke;
    background-color: transparent !important;

}
.bg-app{
    background-color: #AC2601 !important;
    outline-color: #AC2601 !important;
    border-color: #AC2601 !important;
}
body{
    font-family: OpenSans Regular;
    color: #AC2601;
    background-color: #f8f9fa;
}
.footer{
  background-color: #781A00;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #f8f9fa;
}

.footer a{
  color: #f8f9fa;
}
.footer a:hover{
  color: #f8f9fa;
}
.footer li{
  list-style: none;
  font-family: 'OpenSans Regular';
}
.footer li a, .footer li a:hover{
  text-decoration: none;
}
.footer li a:hover{
  color: #898986;
}
.footer a{
  text-decoration: none;
}
.footer a:hover{
  color: #898986;
}
.btn-app-footer{
   background-color: #AC2601;
   color:#f8f9fa;
}
.footer2{
  background-color: #f8f9fa;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.footer-tcwebdev{
  height: 30px;
  width: 30px;
}