.div-one{
    background-image: url("../img/fundo-div-one.jpg");
    background-color: #636b6f !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: inherit;

}
.div-two{
    background-color: #f8f9fa !important;
}
.div-tree{
    background-image: url("../img/fundo-div-tree.jpg");
    background-color: #636b6f !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.parceiro{
    max-height: 50px !important;
}
.titulo-produto{
    margin-top: -50px !important;
    color: whitesmoke;
    font-weight: bold;
}
section{
    margin-top: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}